/*
	COPYRIGHT 2018 CHURCH OF SEAL
	WRITTEN BY JACKSONISIAH 
*/

.everything {
	color: teal;
	background-color: black;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
